/* .search-box-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 576px) {
  .search-box-container {
    padding: 10px;
  }
}

.form-control {
  border-radius: 0;
}

.input-group-append {
  button {
    border-radius: 0;
  }
}

.list-group {
  margin-top: 20px;
}

.list-group-item {
  cursor: pointer;
  &:hover {
    background-color: #f2f2f2;
  }
} */
