.main-container {
  margin-top: 60px;
}
.mr-3 {
  margin-right: 30px;
}
.carousel {
  overflow: hidden;
  height: 100vh;
}
.carousel-caption {
  top: 48%;
}

@media (max-width: 900px) {
  .carousel {
    height: auto;
  }
  .carousel-caption {
    top: 0%;
  }
  .card-row {
    justify-content: space-around;
  }
}
